.container {
  width: 100%;
  display: grid;
}

.first {
  grid-area: first;
  background-color: aqua;
}

.second {
  grid-area: second;
  background-color: burlywood;
}

.third {
  grid-area: third;
  background-color: coral;
}

.fourth {
  grid-area: fourth;
  background-color: hotpink;
}
